<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos - Agrícola Díaz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productos/ver_productos.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var verProductosUrl = "{{ url_for('ver_productos') }}";

        $(document).ready(function() {
            function updateProducts() {
                var query = $('#search').val();
                var filtersMarca = [];
                var filtersTipo = [];
                
                // Recoger filtros por marca
                $('input[name="filter_marca"]:checked').each(function() {
                    filtersMarca.push($(this).val());
                });

                // Recoger filtros por tipo
                $('input[name="filter_tipo"]:checked').each(function() {
                    filtersTipo.push($(this).val());
                });

                var sort = $('#sort').val();
                $.ajax({
                    url: verProductosUrl,
                    method: 'GET',
                    data: {
                        search: query,
                        filter_marca: filtersMarca,
                        filter_tipo: filtersTipo,
                        sort: sort
                    },
                    success: function(data) {
                        $('#productos').html(data);
                        updateCarritoContador(); // Actualiza el contador del carrito
                    },
                    error: function(xhr, status, error) {
                        console.error('Error en la solicitud AJAX:', status, error);
                    }
                });
            }

            function updateCarritoContador() {
                $.ajax({
                    url: '{{ url_for("obtener_cantidad_carrito") }}', // Asegúrate de tener una ruta que devuelva la cantidad de productos en el carrito
                    method: 'GET',
                    success: function(data) {
                        $('#carrito-contador').text(data.cantidad); // Suponiendo que la respuesta es un objeto JSON con una propiedad "cantidad"
                    },
                    error: function(xhr, status, error) {
                        console.error('Error al obtener la cantidad del carrito:', status, error);
                    }
                });
            }

            $('#search').on('input', updateProducts);
            $('input[name="filter_marca"]').on('change', updateProducts);
            $('input[name="filter_tipo"]').on('change', updateProducts);
            $('#sort').on('change', updateProducts);

            updateCarritoContador(); // Inicializa el contador al cargar la página
        });
    </script>
</head>
<body>
    <div class="contenedor">
        <div class="columnas">
            <!-- Columna de filtros -->
            <div class="columna-filtros">
                <h2>Catálogo de Productos</h2>

                <!-- Filtros por Marca -->
                <form id="filter-form" method="get" action="{{ url_for('ver_productos') }}">
                    <!-- Filtros por Marca -->
                    <h3>Marcas:</h3>
                    <div class="filtros-marca">
                    {% for marca in marcas %}
                        <div class="filtro-item"> 
                            <label>
                                <input type="checkbox" name="filter_marca" value="{{ marca }}" {% if marca in selected_filters %}checked{% endif %}>
                                {{ marca }}
                            </label>
                        </div>    
                    {% endfor %}
                    </div>  
                    <!-- Filtros por Tipo -->
                    <h3>Tipos:</h3>
                    <div class="filtros-tipo">
                    {% for tipo in tipos %}
                        <div class="filtro-item">
                            <label>
                                <input type="checkbox" name="filter_tipo" value="{{ tipo }}" {% if tipo in selected_filters %}checked{% endif %}>
                                {{ tipo }}
                            </label>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="cajon-boton-aplicar">
                        <button type="submit" class="boton-aplicar">Aplicar filtros</button>
                    </div>
                </form>

                <!-- Ordenar por -->
                <div class="ordenar">
                    <label for="sort">Ordenar por:</label>
                    <select id="sort">
                        <option value="">Seleccionar</option>
                        <option value="nombre_asc" {% if request.args.get('sort') == 'nombre_asc' %}selected{% endif %}>Nombre (Ascendente)</option>
                        <option value="nombre_desc" {% if request.args.get('sort') == 'nombre_desc' %}selected{% endif %}>Nombre (Descendente)</option>
                        <option value="precio_asc" {% if request.args.get('sort') == 'precio_asc' %}selected{% endif %}>Precio (Ascendente)</option>
                        <option value="precio_desc" {% if request.args.get('sort') == 'precio_desc' %}selected{% endif %}>Precio (Descendente)</option>
                    </select>
                </div>
            </div>

            <!-- Columna de productos -->
            <div class="columna-productos">
                <div class="fila-superior">
                    <!-- Barra de búsqueda -->
                    <input type="text" id="search" placeholder="Buscar por nombre, tipo o marca" value="{{ request.args.get('search', '') }}">

                    <!-- Icono del carrito -->
                    <a href="{{ url_for('ver_carrito') }}" class="carrito-icono">
                        <img src="{{ url_for('static', filename='imagenes/registrar_compra.png') }}" alt="Carrito">
                        <span id="carrito-contador" class="carrito-contador">0</span>
                    </a>
                </div>

                <!-- Productos -->
                <div class="productos" id="productos">
                    {% include 'productos/_productos.html' %}
                </div>
            </div>
        </div>

        <a href="{{ url_for('dashboard_menu') }}" class="boton-regresar">Volver al Menú</a>
    </div>
    <script>
        function changeQuantity(amount, productoId) {
            const cantidadInput = document.getElementById(`cantidad-${productoId}`);
            let currentQuantity = parseInt(cantidadInput.value, 10);
            const maxQuantity = parseInt(cantidadInput.max, 10);
        
            // Ajustar la cantidad según el botón clicado
            currentQuantity += amount;
        
            // Validar los límites
            if (currentQuantity < 0) {
                currentQuantity = 0;
            } else if (currentQuantity > maxQuantity) {
                currentQuantity = maxQuantity;
            }
        
            // Actualizar el valor del campo de cantidad
            cantidadInput.value = currentQuantity;
        }
    </script>
</body>
</html>
