<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientes/clientes.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Clientes</h1>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                        <th>Ver Ventas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente[1] }}</td>
                        <td>{{ cliente[2] }}</td>
                        <td>{{ cliente[3] }}</td>
                        <td>{{ cliente[4] }}</td>
                        <td>{{ cliente[5] }}</td>
                        <td>{{ cliente[6] }}</td>
                        <td><a href="{{ url_for('ver_ventas_cliente', id_cliente=cliente[0]) }}" class="btn-ver-ventas">Ver Boletas</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ url_for('dashboard_menu') }}" class="btn-regresar">Regresar al Menú</a>
    </div>
</body>
</html>
